---
author: "José Tobias"
layout: home
permalink: "/"
---

<div class="col" id="projects-div">
    <ul class="list-group-flush" id="projects-list">
        {% for post in site.posts %}
        {% if post.belongs == "academic-work" %}
        <li class="list-group-item">
            {% for category in post.categories %}
            {{ category }}
            {% endfor %}
            <br>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="col" id="achievments-div">
    <ul class="list-group-flush" id="achievments-list">
        {% for post in site.posts %}
        {% if post.belongs == "achievments" %}
        <li class="list-group-item">
            {% for category in post.categories %}
            {{ category }}
            {% endfor %}
            <br>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>