---
author: "José Tobias"
layout: home
permalink: "/"
---


<div class="row">
    <div class="col align-items-center text-center">
        {% for category in site.categories %}
        <ul class="list-group list-group-flush" id="projects-list">
            <li class="list-group-item" id="projects-tag">
                <h2>{{ category[0] }}</h2>
            </li>
            {% for post in category[1] %}
            <li class="list-group-item">
                {{ post.date | date_to_long_string }}
                {{ post.title }}
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>