<div class="container-fluid p-0">
    <div class="col">
        <div class="row">
            <nav class="navbar navbar-expand-md navbar-light fixed-top to-fade" id="on-roll-head">
                <a class="navbar-brand" href="#nav-full">{{ page.author }}</a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="#fadedNavbarContent" aria-controls="navbarContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse nav-pills nav-justified" id="fadedNavbarContent">
                    <ul class="navbar-nav mr-auto m-3 nav-pills">
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a class="nav-link" href="#projects-div">Projects</a>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a class="nav-link" href="#achievments-div">Achievments</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>