<div class="container">
    <nav class="navbar navbar-expand-md navbar-light fixed-top to-fade" id="on-roll-head">
        <a class="navbar-brand ml-auto" href="#nav-full">{{ page.author }}</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#fadedNavbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-pills ml-auto" id="fadedNavbarContent">
            <ul class="navbar-nav mr-auto nav-pills">
                <li class="nav-item ll-5" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="#projects-tag">Projects</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="#achievments-tag">Achievments</a>
                </li>
            </ul>
        </div>
    </nav>
</div>