<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-md navbar-light fixed-bottom to-fade" id="on-roll-foot">
        <div class="col">
            <div class="row justify-content-center">
                <a class="btn btn-primary rounded-circle btn-sm m-auto" href="https://www.linkedin.com/in/tobiasjc">
                    <i class="fa fa-linkedin"></i>
                </a>

                <div class="dropup m-auto">
                    <button class="btn btn-primary" id="drop-button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"><i class="fa fa-envelope"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="drop-button">
                        <a class="dropdown-item" href="mailto:jose.tobias@outlook.com">
                            <button class="btn">
                                <i class="fa fa-user"></i>
                            </button>
                            <span>jose.tobias@outlook.com</span>
                        </a>
                        <a class="dropdown-item" href="mailto:a16007@bcc.unifal-mg.edu.br">
                            <button class="btn">
                                <i class="fa fa-graduation-cap"></i>
                            </button>
                            <span>a16007@bcc.unifal-mg.edu.br</span>
                        </a>
                    </div>
                </div>
                <a class="btn btn-primary rounded-circle btn-sm m-auto" href="somesocials.com">
                    <i class="fa fa-facebook-official"></i>
                </a>
            </div>
        </div>
    </nav>
</div>