<div class="container-fluid p-0">
    <footer class="navbar navbar-expand-md navbar-light fixed-bottom to-fade" id="on-roll-foot">
        <div class="row justify-content-sm-center">
            <div class="col">
                <button class="btn btn-primary rounded-circle btn-sm">
                    <i class="fa fa-github-alt"></i>
                </button>
            </div>

            <div class="col">
                <div class="dropup">
                    <button class="btn btn-primary" id="drop-button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"><i class="fa fa-envelope"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="drop-button">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <button class="btn btn-primary rounded-circle btn-sm">
                    <i class="fa fa-graduation-cap"></i>
                </button>
            </div>
        </div>
    </footer>
</div>