.main-coloring {
    background: rgb(149, 251, 255);
}


.to-fade {
    visibility: hidden;
}

.dropdown-menu-center {
    right: auto;
    left: -50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}