@import url("https://fonts.googleapis.com/css?family=Cabin+Condensed|Lora|Frank+Ruhl+Libre|Taviraj|Petit+Formal+Script&display=swap");

.title-category {
  font-family: "Lora", serif;
}

.logo-message {
  font-family: "Petit Formal Script", cursive;
}

.menu-text {
  font-family: "Taviraj", serif;
}

.legible {
  font-family: "Frank Ruhl Libre", serif;
}

.titles-out {
  font-family: "Lora", serif;
}

// for header
.main-coloring {
  background: rgb(149, 251, 255);
}

// for fader-nav
.to-fade {
  visibility: hidden;
}

// for footer
.dropdown-menu-center {
  right: auto;
  left: -50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}